<p>The application <strong>{{grant.client.client_name}}</strong> is requesting the scopes:
<strong>{{ grant.request.scope }}</strong>
</p>

{% if not user %}
<p>Something went wrong: No user found--login didn't work...</p>
{% endif %}

{% if user and user.shib_id %}
<!--TODO: Use a nicer attribute like email or display name, if those attrs available-->
<p>
  from <strong>{{ user.shib_id }}</strong>
</p>
{% endif %}


<form action="" method="post">
  <label>
    <input type="checkbox" name="confirm">
    <span>Consent?</span>
  </label>
  <br>
  <button>Submit</button>
</form>
